{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <img src="{{ asset('assets/image/gradient600ppp.png') }}" class="img-fluid position-absolute top-0 start-0" alt="banner">

    <div class="container mt-4">
       {{ form_start(form) }}
       <div class="row p-4">
           <div class="col">
               <div class="alert alert-primary">
                   <h2 class="alert-heading">Informations générales</h2>
                   <hr>
                   {{ form_row(form.name) }}
                   {{ form_row(form.email) }}
                   <hr>
                   <h2 class="alert-heading mt-2">Confidentialité</h2>
                   <hr>
                   {{ form_row(form.hash) }}
                   {{ form_row(form.passwordConfirm) }}
               </div>
           </div>


           <p>Prêt à pouvoir acheter des bouquins ?</p>
           <button type="submit" class="btn btn-success btn-lg w-50"><i class="fas fa-check"></i> Confirmez votre inscription
           </button>
       </div>

       {{ form_end(form) }}
   </div>

{% endblock %}
